h1, p {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
}

.flex-container > div {
    background-color: gray;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}